{% extends "base.html.twig" %}

{% block body %}

    <div class="m-5 p-2 d-flex flex-wrap justify-content-center">
        {% set unique_ips = [] %}
        {% for group in items %}
            {% for item in group %}
                {% if item.ip not in unique_ips %}
                    {% set unique_ips = unique_ips|merge([item.ip]) %}
                    <div class="card m-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Capteur {{ loop.index }}</h5>
                            {# <p class="card-text">IP: {{ item.ip }}</p> #} {# permet de deboguer #}
                            <ul class="list-group list-group-flush">
                                {% for reading in group %}
                                    {% if reading.ip == item.ip %}
                                        <li class="list-group-item">Température: {{ reading.temperature }}</li>
                                        <li class="list-group-item">Humidité: {{ reading.humidite }}</li>
                                        <li class="list-group-item">Qualité d'air: {{ reading.qualite }}</li>
                                        <li class="list-group-item">Dernière donnée il y a : {{ reading.temps }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
