<!DOCTYPE html>
{# Header de la page "index.html.twig" #}
<html lang="fr-FR">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>
			{% block title %}
				Simandré
			{% endblock %}
		</title>
		<link
		rel="shortcut icon" href="{{asset('favicon.ico')}}" type="image/x-icon">
		{# image de favicon #}
		{% block stylesheets %}
			{# css de bootstrap #}
			<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
			{# css de la page #}
			{% set uris = ['http://127.0.0.1:8000/login', 'http://127.0.0.1:8000/log', 'http://127.0.0.1:8000/user/create', 'http://127.0.0.1:8000/user/update/{id}'] %}
			{% if app.request.uri in uris %}
				<style>
					body {
						font-family: 'Inter', sans-serif;
						background-image: url("{{asset('image/background_log.png')}}");
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						height: 100vh;
						width: 100vw;
						overflow: hidden;
					}
				</style>
			{% else %}
				<style>
					body {
						font-family: 'Inter', sans-serif;
						background-image: url("{{asset('image/background.png')}}");
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						height: 100vh;
						width: 100vw;
						overflow: hidden;
					}
				</style>
			{% endif %}


			<style>
				@import url('https://fonts.googleapis.com/css2?family=Inter &family=Josefin+Sans&display=swap');

				.bg-white {
					background-color: #FFFFFF !important;
				}

				.contour-nav {
					border: 3px solid #000000;
				}

				.contour-footer {
					border-top: 3px solid #000000;
					border-bottom: 3px solid #000000;
				}

				.coutour-form {
					border: 3px solid #000000;
					border-radius: 10px;
				}

				li {
					font-size: 30px;
				}

				.s-15 {
					font-size: 15px;
				}

				.s-20 {
					font-size: 20px;
				}

				.w-5 {
					width: 5%;
				}

				.w-10 {
					width: 10%;
				}

				.w-15 {
					width: 15%;
				}

				.w75 {
					width: 75%;
				}

				.w100 {
					width: 300px;
				}

				.w100lg {
					width: 100%;
				}

				.mt-10 {
					margin-top: 15%;
				}

				.mb-10 {
					margin-bottom: 15%;
				}

				.around {
					display: flex;
					justify-content: space-around;
				}

				.w60 {
					width: 60px;
				}


				.gauge-container > .gauge > .dial {
					stroke: #334455;
					stroke-width: 2;
				}

				.gauge-container > .gauge > .value {
					stroke: rgb(47, 227, 255);
					stroke-width: 2;
				}

				.gauge-container > .gauge > .value-text {
					fill: rgb(47, 227, 255);
					font-family: sans, 'sans-serif';
					font-weight: bold;
					font-size: 0.6em;
				}


				@media screen and(max-width:992px) {
					.none {
						display: none;
					}
					.w100lg {
						width: 25%;
					}
					.m0333 {
						margin: 0 3rem 3rem;
					}
					.flexres {
						display: flex;
						flex-direction: column !important;
						justify-content: center;
						align-items: center;
					}
					.footer-block {
						display: flex;
						flex-direction: column;
					}
					.aroundres {
						display: flex;
						justify-content: space-around;
					}
					.w75 {
						width: auto;
					}

					*,
					::after,
					::before {
						max-width: 100vw;
					}
				}
			</style>
		{% endblock %}

	</head>
	<body>
		{# header de la page #}
		<header class="d-flex justify-content-center">
			<nav class="navbar navbar-expand-lg bg-white container-lg d-flex justify-content-center mt-5 rounded-pill contour-nav">
				<div
					class="container-fluid">
					{# navbar #}
					<div class="d-flex justify-content-end">
						<button class="navbar-toggler d-lg-none d-flex justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
							<img class="navbar-toggler-icon" src="{{asset('image/burgur_menu.png')}}" alt="Menu Icon">
						</button>
					</div>
					<img class="w-15 rounded-pill none" src="{{asset('image/logo.png')}}" alt="logo">
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav w-100 d-flex justify-content-center">
							<b class="w75 d-flex justify-content-between flexres">
								<li class="nav-item">
									<a class="nav-link" href="/">Accueil</a>
								</li>
							</b>
							<b class="w75 d-flex justify-content-between flexres">
								<li class="nav-item">
									<a class="nav-link" href="/capteur">Capteur</a>
								</li>
							</b>
							<b class="w75 d-flex justify-content-between flexres">
								<li class="nav-item">
									<a class="nav-link" href="/carte">Carte</a>
								</li>
							</b>
							{# <b class="w75 d-flex justify-content-between flexres">
																							{% if is_granted('ROLE_ADMIN') %}
																								<li>
																									<a class="nav-link" href="/logout">Déconnexion</a>
																								</li>
																							{% else %}
																								<li class="nav-item">
																									<a class="nav-link" href="/user/create">Se connecter</a>
																								</li>
																							{% endif %}
																						</b> #}
							<b class="w75 d-flex justify-content-between flexres">
								<li>
									<a class="nav-link" href="/logout">Déconnexion</a>
								</li>
							</b>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<main class="container mt-5"> {% block body %}{% endblock %}
			</main>

			{% block javascripts %}
				{# script de bootstrap #}
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
			{% endblock %}

			{# footer de la page #}
			<footer class="bg-white pb-1 contour-footer">
				<div
					class="container-fluid d-flex flex-wrap align-items-center justify-content-between footer-block">
					<!-- réseaux de l'entreprise -->
					<div>
						<a href="">
							<img src="{{asset('image/logo.png')}}" alt="logo" class="pb-3" style="width: 240px">
						</a>
					</div>

					<div class="d-flex flex-wrap gap-3 align-items-center justify-content-center m0333">
						<a href="https://www.instagram.com/" target="_blank">
							<img src="{{asset('image/insta.png')}}" alt="instagram" class="w60">
						</a>

						<a href="https://www.github.com/" target="_blank">
							<img src="{{asset('image/github.png')}}" alt="github" class="w60">
						</a>

						<a href="https://twitter.com/" target="_blank">
							<img src="{{asset('image/twitter.png')}}" alt="twitter" class="w60">
						</a>

						<a href="https://www.youtube.com/" target="_blank">
							<img src="{{asset('image/youtube.png')}}" alt="youtube" class="w60">
						</a>
					</div>
					<!--  <div class="col vl d-flex justify-content-center none"></div>
																																																																															            <div class="col-lg"></div> -->

					<div class="vr none mt-3"></div>

					<!-- sponsor de l'entreprise -->
					<div class="d-flex flex-wrap gap-3 align-items-center justify-content-center mx-5 m0333">
						<a href="https://www.tesla.com/" target="_blank"><img src="{{asset('image/tesla.png')}}" class="w60" alt="sponsor Tesla"></a>

						<a href="https://www.lachainemeteo.com/" target="_blank"><img src="{{asset('image/chaine_météo.png')}}" class="w60" alt="sponsor la chaine météo"></a>

						<a href="https://www.github.com/" target="_blank"><img src="{{asset('image/github.png')}}" class="w60" alt="sponsor github"></a>

						<a href="https://www.paris2024.org/" target="_blank"><img src="{{asset('image/JO.png')}}" class="w60" alt="sponsor JO 2024"></a>
					</div>

					<div>
						<p>
							<a href="./index.html" class="link-dark link-underline link-underline-opacity-0">Mentions
																																																																																																																												                    légales</a>
						</p>
						<p>
							<a href="./index.html" class="link-dark link-underline link-underline-opacity-0">Termes de
																																																																																																																												                    Vente</a>
						</p>
					</div>


				</div>
				<p class="mb-0 pt-3 text-center s-15">Copyright 2024 - Simandré</p>

				<script src="./svg-gauge-master/dist/gauge.min.js"></script>
				<!-- JavaScript pour les jauges globales -->

				<script src="./script/script_temperature.js"></script>
				<!-- script pour la qualité d'air -->

				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
			</footer>
		</body>
	</html>
