{% extends "base.html.twig" %}
{% import "macro/macro.html.twig" as alert %}

{% block body %}
    
	{% for label, messages in app.flashes %}
		{# Message flash #}
		{% for msg in messages %}
			{{ alert.alert(msg, label) }}
		{% endfor %}
	{% endfor %}

	<div
		class="row mt-1 container-fluid mx-auto d-flex align-items-center pt-5">
		<!-- debut de la page -->
		<div class="col-lg-1"></div>
		<div class="col-lg-4 s-20">
            <!-- parti gauche de la page -->
			<div class="card {{ colorClass }}"> {# couleur de la carte en fonction des données recu #}
				<div class="card-header">
					<h3 class="text-center">Moyenne des données</h3>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<p>Température :</p>
						<p>{{ moyennes.temperature | number_format(1, '.', '') }}
                        °C</p> 
					</div>
					<div class="d-flex justify-content-between">
						<p>Pression :</p>
						<p>{{ moyennes.pression | number_format(1, '.', '') }}
							hPa</p>
					</div>
					<div class="d-flex justify-content-between">
						<p>Qualité d'air :</p>
						<p>{{ moyennes.qualite | number_format(1, '.', '') }}
							PM2,5</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1"></div>
		<div
			class="col-lg d-flex align-items-center pb-3 border border-3 rounded-2 border-info">
			<!-- parti droite de la page -->
			<img src="{{ asset('uploads/brochures/' ~ latestUpload.mapFilename) }}" class="w-100" alt="Plan de l'entreprise">
		</div>
		<div class="col-lg-1"></div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
